/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

// variables
$color-yellow :#f5bf23 ;
$color-black :#111 ;
$color-white :#fff ;
$light-color:#666;
$light-bg:#eee;

:root{
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid rgba(0,0,0,.3);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border: none; outline: none;
    user-select: none;

}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:1rem 3rem;
    background: $color-black;
    color:$color-white;
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: capitalize;
    transition:.2s linear;
 
    &:hover{
        color: $color-black;
       background:$color-yellow;
       
    }
 }
 
%form{
    position: absolute;
    top:120%; left:50%;
    transform: translateX(-50%);
    background: $color-white;
    box-shadow: var(--box-shadow);
    animation: animate .2s linear;
        display: none;
}
// set bg and icons and text
@mixin titleText($titleSize) {
    font-size: $titleSize;
    color:$color-black;
    text-transform: capitalize;
}
 @mixin graphText($graphSize) {
    font-size: $graphSize;
    color:$light-color;
    line-height: 2;
}
@mixin icons(){
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:$color-black;
    background-color: $light-bg;
    cursor: pointer;
   text-align: center;

   &:hover{
    color: $color-white;
    background-color: $color-black;
    transition: .2s linear;
   }
 } 

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap:2rem;
}
@keyframes animate{
    0%{
        top: 50%; opacity: 0;
    }
}
@keyframes animate2{
    0%{
        bottom: 50%; opacity: 0;
    }
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

    &::-webkit-scrollbar{
        width: 1rem;
     }
  
     &::-webkit-scrollbar-track{
        background: transparent;
     }
  
     &::-webkit-scrollbar-thumb{
        background: $color-yellow;
     }
}
section{
    padding:5rem 10% ;
}
//  Start Header 
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    position: sticky;
    top: 0; right: 0; left: 0;
    padding: 1.5rem 10%;
    box-shadow: var(--box-shadow);
    background: $color-white;

    .logo{
        @include titleText(2.5rem) ;
    span{
         color: $color-yellow;
        }
    }
    .navbar a{
        @include titleText(2rem);
        margin: 0 1rem;

        &:hover{
            color: $color-yellow;
            transition: .3s all;
        }
    }
    .icons i{
        @include icons(); 
        margin-left: 0.3rem;
        &#menu-btn{
            display: none;
            }
    }
    .search-form{
       @extend %form ;
        width: 70rem;
        padding: 1rem;
        align-items: center;
        gap: 1rem;
        

        &.active{
            display: flex;
         }
        input{
            width: 100%;
            font-size: 1.6rem;
            background-color: $light-bg;
            color: $light-color;
            padding: 1.5rem 1.4rem;
        }
        label{
            font-size: 2.5rem;
            color: $color-black;
            cursor: pointer;
            margin: 0 1rem;
            &:hover{
                color: $color-yellow;
            }
        }
    }
    .form-login{
       @extend %form ;
        width: 40rem;
        padding:2rem;
        text-align: center;
        
        &.active{
            display: block;
         }
   
        h3{
            @include titleText(2.5rem);
            text-transform: uppercase;
            padding-bottom: 1rem;
        }
        .box{
            width: 100%;
            padding:1.2rem 1.4rem;
            background: $light-bg;
            font-size: 1.6rem;
            color:$light-color;
            margin:.7rem 0;
         }
         .checkbox{
            display: flex;
            align-items: center;
            gap: .5rem;
            padding-top: 1.5rem;
            padding-bottom: 1rem;

            label{
                font-size:1.5rem;
                color:$light-color;
                cursor: pointer;
             }
    
             a{
                font-size:1.5rem;
                color:$light-color;
                margin-left: auto;
    
                &:hover{
                   color:$color-yellow;
                   text-decoration: underline;
                }
             }
         }
         .btn{
            width: 100%;
         }
         p{
            @include graphText(1.5rem);
            padding-top: 1.5rem;
            a{
                color: $color-yellow;
                &:hover{
                    text-decoration: underline;
                 }
            }
        }
    }
}
// End header
//  Start contact-info 
.contact-info{
    position: fixed;
    top: 0; right: 0;
    background: $color-white;
    width: 35rem;
    display: none;
    height: 100%;
    text-align: center;
    z-index: 1100;
    padding: 0 2rem; padding-top: 5rem;
    

    &.active{
        box-shadow: 0 0 0 100vw rgba(0,0,0,.7);
        display: block;
        animation: animate2 .2s linear;
     
        
    }
    #close-contact{
        position: absolute;
        top: 1rem; right: 1.5rem;
        cursor: pointer;
        font-size: 4rem;
        color: $color-black;
        &:hover{
            transform: rotate(30deg); 
      }
    }
    .info{
        padding: 0.5rem 0;
        i{
            @include icons();
            margin-bottom: .5rem;
        }
        h3{
            @include titleText(2rem);
            padding: 1rem 0;
        }
        p{
            @include graphText(1.5rem);

        }
    }
    .links{
        padding-top: 1rem;
        border-top: var(--border);
        margin-top: 1rem;
        
        a i{
            @include icons();
            margin: 0 .3rem;
        }
    }
}
//  End contact-info  

//  Start Home section 
.home{
    padding:0;
    
    .slide{
        min-height: 65rem;
        display: flex;
        align-items: center;
        position: relative;
         object-fit: contain;
        background-position: center !important;
        background-size: cover !important;

        &::before{
            content: '';
            position: absolute;
            top:0; left:0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg,$color-white , transparent);
        }
        .content{
            width: 50rem;
            position: relative;
            h3{
                @include titleText(6rem);
                text-transform: uppercase;
             }
             p{
                @include graphText(1.4rem);
                line-height: 2;
                padding: 1rem 0;
             }
        }
    }
    .swiper-button-next,
   .swiper-button-prev{
      top:initial;
      bottom: 0;
      left: initial;
      right: 0;
      height: 7rem;
      width: 7rem;
      line-height: 7rem;
      background: $color-white;

      &:hover{
         background: $color-yellow;
      }
   }
   .swiper-button-next::after,
   .swiper-button-prev::after{
      font-size: 2rem;
      color:$color-black;
   }

   .swiper-button-prev{
      right:7rem;
   }
}

//  End Home section 
%h1{
    margin-bottom: 3rem;
    @include titleText(3rem);
    padding-left: 1rem;
    border-left: 1rem solid $color-yellow; 
}
// Start About section
.about{
    h1{
        @extend %h1;
    }
    .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;
        .video{
            flex: 1 1 41rem;
            video{
                width: 100%;
            }
        }
        .content{
            flex: 1 1 41rem;
            h3{
                @include titleText(3.5rem);
            }
            p{
                @include graphText(1.5rem);
                padding: 1rem 0;
            }
        }
    }
    .box-container{
        margin-top: 3rem;
        align-items: flex-end;
        @include grid(16rem);
        .box{
            text-align: center;
            padding: 3rem 2rem;
            background-color: $light-bg;
            
            h3{
                @include titleText(4rem);
            }
            p{
                @include graphText(1.5rem);
                padding-top: .5rem;
            }
        }
    }
}
// End About section 

//  Start Services section 
.services{
    background-color: $light-bg;
    h1{
        @extend %h1;
    }
    .box-container{
        @include grid(25rem);
        .box{
            text-align: center;
            padding: 3rem;
            background-color: $color-white;
            border: var(--border);
            box-shadow: var(--box-shadow);
            &:hover img{
                transform: translateY(-1rem);
            }
            img{
                height: 7rem;
                margin-bottom: .5rem;
                transition: .2s linear;
            }
            h3{
                @include titleText(1.5rem);
            }
            p{
                @include graphText(1.3rem);
            }
        }
    }
}
// End Services section 

// Start projects section
.projects{
    background-color: $color-black;
    h1{
        @extend %h1;
        color: $color-white;
    }
    .box-container{
        @include grid(30rem)
    }
    .box{
       cursor: initial;
       &:hover .image img{
        transform: scale(1.1);
       
       }
       .image{
        overflow: hidden;
        height: 40rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition:.2s linear;
          
        }
       }
       .content{
        background-color: $color-white;
        display: flex;
        justify-content: space-between;
        

        .info{
            padding: 1rem 2rem;
            h3{
                @include titleText(1.7rem);
            }
            p{
                @include graphText(1.5rem);
            }
        }
        i{
          font-size: 4rem;
          color: $color-white;
         background-color: $color-yellow;
          width: 7.5rem;
        line-height: 7rem;
          text-align: center;
          cursor: pointer;
        }
       }
    }
}
// End projects section

// start reviews section
.reviews{
    h1{
        @extend %h1;
    }
    .slide{
        p{
            background-color: $light-bg;
            position: relative;
            padding: 1.5rem;
            margin-bottom: 3rem;
            @include graphText(1.5rem);
            &::before{
                content: '';
                position: absolute;
                background-color: $light-bg;
                height: 2rem; width: 2rem;
                left: 2rem; bottom: -1rem;
                transform: rotate(45deg);
            }
        }
        .user{
            display: flex;
            align-items: center;
            gap:24px;
            img{
                height: 7rem;
                width: 7rem;
                
            }
            h3{
                @include titleText(1.7rem)
            }
            .stars{
                padding-top: .5rem;
                color: $color-yellow;
                i{
                    font-size: 1.4rem;
                }
            }
        }
    }
}
//  End reviews section 
.pricing{
    h1{
        @extend %h1;
    }
    .box-container{
        @include grid(30rem);
        .box{
            background-color: $color-white;
            border: var(--border);
            text-align: center;
            padding: 2rem;
            box-shadow: var(--box-shadow);
            
            i{
                font-size: 3rem;
                width: 7rem;height: 7rem;
                line-height: 7rem;
                color: $color-black;
                background-color: $color-yellow;
                border-radius: 50%;
                margin-bottom: 2rem;
            }
            h3{
                @include titleText(2rem);
                font-weight: normal;
            }
            .price{
                @include titleText(5rem);
                padding: 1rem 0;
                span{
                    font-size: 2rem;
                }

            }
            .list{
                padding: 1rem 0;
                p{
                    @include graphText(1.5rem);
                    padding: .5rem 0;
                }
            }
           
        }
    }
}

// Start contact section
.contact{
    background-color: $color-black;
    h1{
        @extend %h1 ;
        color: $color-white;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        gap:2rem;
  
        .map{
           flex:1 1 41rem;
           width: 100%;
        }
    }
    form{
        flex:1 1 41rem;
        background:$color-white;
        padding:2rem;

        h3{
           @include titleText(2.5rem);
        }

         .input{
             margin:.7rem 0;
             width: 100%;
             padding:1.5rem 0;
             font-size: 1.6rem;
             color:$color-white;
             border-bottom:var(--border);
             &:focus{
                 border-color:$color-yellow;
              }
         }
         textarea{
             height: 15rem;
             resize: none;
          }
     }
}
// End contact section

// Start blogs section
.blogs{
    background-color: $light-bg;
    h1{
        @extend %h1 ;
    }
    .slide{
        text-align: center;
    
        &:hover .image img{
            transform: scale(1.1);
        }
        .image{
            margin: 0 auto;
            height: 25rem;
            width: 90%;
            overflow: hidden;
            margin-bottom: -3rem;
            img{
                width: 100%; height: 100%;
                object-fit: cover;
                transition: .1s all;
            }
        }
        .content{
            background-color: $color-white;
            padding: 2rem;
            padding-top: 5rem;
            box-shadow: var(--box-shadow);
            h3{
                @include titleText(2rem);
            }
            p{
                @include graphText(1.4rem);
                padding: 1rem 0;
            }
        }
    }
}
// End blogs section 
//  start section logo 
.logo-container{
    text-align: center;
        img{
            height: 10rem;
            pointer-events: none;
            user-select: none;
        }
}
// end logo section
// start footer
footer{
    text-align: center;
    padding-bottom: 10rem;

    .links2 .btn{
        margin:.5rem;
    }
     .credit{
        margin-top: 2rem;
        padding-top: 1rem;
        @include titleText(2rem);
        span{
           color:$color-yellow;
        }
     }

}
// End footer
//Media queries
@media (max-width:1200px) {
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 3rem 5%;
    }
}

@media (max-width:942px) {
   html{
    font-size: 55%;
   }
   section{
    padding: 3rem 2rem;
}
   .header{

    .icons i{
       &#menu-btn{
            display: inline-block;
            }
    }
    .navbar{
        position: absolute;
        top: 99%; 
        left: 0; right: 0;
        background-color: $color-white;
        border-top: var(--border);
        border-bottom: var(--border);
        clip-path: polygon(0 0 , 100% 0 ,100% 0 , 0 0);
        &.active{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            transition: 1s linear;
         }
         a{
            display: block;
            margin: 2rem;
        }
    }
   
   }
}

@media (max-width:750px) {
   .header{
    .search-form{
        width: 90%;
    }
    .form-login{
        width: 90%;
    }
   }
   .home .slide{
    justify-content: center;
    min-height: 60rem;

    .content{
       text-align: center;

       h3{
          font-size: 3rem;
       }
    }
 }
}

@media (max-width:592px) {
   html{
    font-size: 45%;
   }
}
